@import "_reset.scss";

/*********************** EXTRA SMALL (481-767px) **************/


/****** Variables, Functions, Mixins ********/

$navColor:#f9e88d;
$btnsColor:#f9e88d;
$borderColor:#54a98d;
$sideBarColor: #eeecde;
$mainBg:#ffffc5;
$highlightBg:#e8cc2f;
$fontColor:#070f0c;
$highlightFont:#54a98d;
@mixin transform-translate($x, $y) {
    -ms-transform: translate(x, y);
    /* IE 9 */
    -webkit-transform: translate(x, y);
    /* Safari */
    transform: translate(x, y);
}


/********* Generic elements ********/

@import "_same-height-columns";
html,
a,
h1,
h2,
h3,
p {
    color: $fontColor;
}

h1,
h2,
h3,
.nav a,
label {
    font-family: 'Orbitron', sans-serif;
}

h3 {
    font-weight: bold;
    padding-bottom: 10px;
}

.btn-default {
    border: 0;
    background-color: $navColor;
    font-family: 'Orbitron', sans-serif;
    &:hover,
    &:focus {
        color: $fontColor;
        background-color: $highlightBg;
    }
}

.no-gutter {
    padding-left: 0;
    padding-right: 0;
}


/*********** Navigation *******/

.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-custom {
    background-color: $navColor;
}

.navbar-header {
    .container-fluid>& {
        margin-right: 0;
        margin-left: 0;
    }
    .navbar-brand {
        margin: 0;
        padding: 0;
        margin-top: 4px;
        position: absolute;
        left: 50%;
        @include transform-translate(50%, 50%);
    }
    .navbar-toggle {
        border: 0;
        .icon-bar {
            background-color: $fontColor;
        }
    }
}

.navbar-default .navbar-toggle {
    &:hover {
        background-color: $highlightBg;
    }
    .icon-bar {
        background-color: $fontColor;
    }
}

.navbar-default .navbar-nav {
    & > li > a {
        color: $fontColor;
    }
    & > li > a:hover {
        background-color: $highlightBg;
    }
    & > .active > a,
    & > .active > a:focus,
    & > .active > a:hover {
        background-color: $highlightBg;
        color: $fontColor;
    }
}

.navbar-collapse {
    padding: 0;
    .navbar-default & {
        border: 0;
        background-color: $navColor;
    }
}

.user-icons {
    border: 0;
    background-color: transparent;
    margin-top: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

#nav-links a {
    margin-left: 10px;
}


/*********** Aside *******/

.aside-drop-down {
    position: absolute;
    top: 50px;
    width: 100%;
    border: 0;
    background-color: $navColor;
    z-index: 1000;
}

aside>a>img {
    margin: 5px auto;
}

aside .active a {
    color: $highlightFont;
}


/*********** Main/Home *******/

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    background-color: $mainBg;
    padding-top: 20px;
}

.carousel {
    margin-bottom: 20px;
    margin-top: 20px;
}

.thumbnail .caption {
    color: $fontColor;
}


/*********** Main/See Set *******/

.square {
    float: left;
    position: relative;
    width: 18%;
    margin: 1%;
    background-size: contain;
}

.grid-size {
    width: 90%;
    margin: 10px auto;
}

.comment {
    padding: 15px;
}

.small {
    margin-top: 10px;
    font-size: 0.7em;
}

.comment-form {
    margin-top: 10px;
}

.social-links li a {
    &:hover {
        color: $highlightBg;
    }
}


/*********** Main/Customize Set *******/

.horizontal-scroll {
    overflow-x: scroll;
    height: 150px;
    width: 90%;
    margin: 10px auto;
    padding: 20px;
    background-color: $borderColor;
}

.scroll-item {
    border: 1px solid black;
    padding: 0;
}

.list-inline {
    white-space: nowrap;
}

.inside-scroll {
    height: 100px;
}

.customize-btn {
    margin-left: 10px;
    margin-right: 10px;
}


/*********** Froms/Login/Register *******/

.auth-form {
    border-top: 1px solid grey;
    margin-bottom: 100px;
}

.form-group {
    margin: 30px;
}

.ng-invalid.ng-dirty {
    border-color: #fa787e;
}

.ng-valid.ng-dirty {
    border-color: #78fa89;
}

.social-btns {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 40px;
}

.log-in-help {
    margin-top: 100px;
    &>p {
        margin: 10px;
        &>a {
            text-decoration: underline;
        }
    }
}


/*********** Froms/Login/Register *******/

.about {
    padding: 50px;
    p {
        line-height: 1.5;
        margin-top: 20px;
    }
}

.contact {
    padding: 50px;
    h4 {
        margin-bottom: 30px;
    }
    p {
        margin-top: 10px;
    }
}


/*********** Profile *******/

.profile-pic {
    width: 200px;
    margin: 10px auto;
}

.info {
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(217, 222, 217, 0.37);
    .details {
        padding-top: 30px;
    }
    p {
        line-height: 1.5;
    }
    h4 {
        padding-top: 10px;
        padding-bottom: 10px;
        span {
            padding-right: 5px;
        }
    }
}

.modify {
    margin-top: 10px;
}

.upload-set-form {
    margin: 30px;
    border: 1px solid $borderColor;
}

.rate:hover{
    color: red;
}


/*********************** SMALL (768 - 991px) ******************/

@media screen and (min-width: 768px) {
    .aside-drop-down {
        position: relative;
        top: 0;
        background-color: $sideBarColor;
        border-right: 3px solid $borderColor;
    }
    .navbar-header .navbar-brand {
        margin-top: 2px;
    }
    .grid-size {
        width: 80%;
    }
}


/*********************** MEDIUM (992 - 1199px) ******************/

@media screen and (min-width: 992px) {
    .aside-drop-down {
        position: relative;
        top: 0;
        background-color: $sideBarColor;
        border-right: 3px solid $borderColor;
    }
    .navbar-header .navbar-brand {
        margin-top: 2px;
    }
    .grid-size {
        width: 70%;
    }
}


/*********************** LARGE (> 1200px) ******************/

@media screen and (min-width: 1200px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }
    .grid-size {
        width: 70%;
    }
    .aside-drop-down {
        position: relative;
        top: 0;
        background-color: $sideBarColor;
        border-right: 3px solid $borderColor;
    }
    .navbar-header .navbar-brand {
        margin-top: 2px;
    }
}