<section class="about text-justify">
    <h3 class="text-center">Welcome to SQUARES!</h3>
    <p>
        Squares is a digital gallery for new art, where gallery visitors can fashion and create the final expression of the art pieces.
    </p>
    <p>On Squares artists create new artworks that are divided into small digital pieces that visitors can play around with and put together via a digital interface. Squares is an open art playground where you can purchase printed versions of the artists' works reworked into your particular personal design.</p>


    <p>Squares will be a global, user-driven and interactive gallery where people from around the globe can dive into the artworks and create works that fit their expression and experience. At the same time Squares is a fascinating and imaginative business concept that attracts artists, both because, of the initial challenge to their creativity, and because they can sell and profit from their work.
    </p>

    <p>Squares is a new project lunched by KongOrange. KongOrange is a freelance-based development bureau specialising in digital entertainment across multiple platforms (kongorange.com/).</p>
</section>

<section class="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h3>Squares Support</h3>
                <h4>Can't wait to help you</h4>

                <p> 21 Square str. Aarhus Denmark</p>

                <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: 0045 98 43 60</p>

                <p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a href="mailto:feedback@startbootstrap.com">support@squares.com</a></p>

                <p><i class="fa fa-clock-o"></i> <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>

            </div>

        </div>
    </div>
</section>